
.post {
   display: flex;
   flex-direction: row;
   overflow: hidden;
   margin: 20px 0;
   background-color: white;
   border: 1px solid var(--reddit-grey);
   border-radius: 4px;
   max-height: 150px;
}

.post:hover {
   border: 1px solid grey;
}

.post .vote {
   width: 50px;
   padding-top: 16px;
   background-color: var(--reddit-light-grey);
}

.post .content {
   padding: 5px;
   width: 100%;
   flex: 1;
   position: relative;
   display: flex;
   flex-direction: column;
}

.post .thumbnail {
   width: 150px;
   height: 150px;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
}

.thumbnail:hover {
   opacity: 0.7;
   cursor: pointer;
}

.post-title {
   padding-bottom: 10px;
   margin: 0;
}

.post-description {
   padding-bottom: 10px;
   margin: 0;
   overflow: hidden;
   text-overflow: ellipsis;
   flex: 1;
}

.post-extra {
   margin: 5px 0;
   font-size: 11px;
   color: var(--reddit-blue);
}

.post-author {
   text-decoration: underline;
   cursor: pointer;
}

.post-subseddit {
   display: inline-block;
   margin: 5px 0;
   font-size: 12px;
   font-weight: bolder;
   color: #1C1C1C;
}

.post-footer {
   margin: 0px;
   left: 0;
   bottom: 0;
   width: 100%;
}

.post-option {
   display: inline-block;
   margin: 5px 5px 5px 0px;
   font-size: 12px;
   font-weight: bolder;
   color: rgb(60, 60, 60);
   padding: 3px;
}

.post-option:hover {
   background-color: var(--reddit-light-grey);
   outline: 1px solid var(--reddit-grey);
   cursor: pointer;
}

.break {
   vertical-align: middle;
   margin: 0 4px;
   color: var(--reddit-grey);
   font-size: 12px;
   font-weight: bold;
   line-height: 20px;
}

/* Vote arrows from w3schools.com */
.vote-element {
   display: block;
   text-align: center;
   cursor: pointer;
}

.vote-element:hover .arrow-up {
   border: solid var(--reddit-orange);
   border-width: 0 3px 3px 0;
}

.vote-toggled {
   display: block;
   text-align: center;
   cursor: pointer;
}

.vote-toggled .arrow-up {
   border: solid var(--reddit-orange);
   border-width: 0 3px 3px 0;
}

.arrow-up {
   border: solid black;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 3px;
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
}
