/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079D3;
  --reddit-orange: #FF5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey:  rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color:  rgba(0, 0, 0, 0.65);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--reddit-bg-color);
  /* height: 100%; */
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
  border-top: 1px solid var(--reddit-grey);
  padding: 10px;
  background-color: white;
  min-height: 50px;
  text-align: right;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  border-bottom: 1px solid var(--reddit-grey);
}

.logo {
  color: white;
  font-size: var(--body-text-size);
  width: 40px;
  height: 40px;
  background-color: var(--reddit-orange);
  border-radius: 50%;
}

.text {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

.text::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

.text:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button {
  border: 1px solid var(--reddit-blue);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
  cursor: pointer;
}

.button-disabled {
   pointer-events: none;
   cursor: default;
}

.button:hover {
   opacity: 50%;
}

.button-primary {
  color: var(--reddit-blue);
}

.button-secondary {
  background-color: var(--reddit-blue);
  color: white;
}

.banner > *,
footer > * {
  margin: 10px 25px;
}

.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}

.feed {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

.feed-header {
  display: flex;
  justify-content: space-between;
}

.feed-title {
  font-weight: normal;
  margin: 0;
}

.profile {
   font-size: x-large;
   color: white;
   width: 40px;
   height: 40px;
   background-color: rgb(156, 53, 197);
   border-radius: 50%;
   margin: 0px;
   cursor: pointer;
}
 
/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   border: 1px solid var(--reddit-blue);
   border-radius: 4px;
   text-transform: capitalize;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
   background-color: #ddd;
}

.dropdown-show {
   display:block;
}